@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --glow-shadow-color: rgba(130, 230, 188, 0.75);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

/* scroll bar styles */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: rgb(36, 37, 38);
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--glow-shadow-color);
}

html {
  scroll-padding-top: 140px;
  scroll-behavior: smooth !important;
}

.glass-effect {
  background-color: rgba(40, 40, 40, 0.9);
}

@supports (
  ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px)))
) {
  .glass-effect {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(40, 40, 40, 0.65);
  }
}

.blinking-cursor {
  margin-left: -8px;
  font-weight: 500;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.border-glow {
  border-color: var(--glow-shadow-color);
  transition: border-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-glow {
  background-color: var(--glow-shadow-color);
  transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.text-glow {
  color: var(--glow-shadow-color);
  transition: color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.glow-box {
  box-shadow: 0px 0px 300px 0px var(--glow-shadow-color);
  transition: box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.glow-box-sm {
  box-shadow: 0px 0px 6px 0px var(--glow-shadow-color);
  transition: box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.glow-box-sm-hover {
  position: relative;
}

.glow-box-sm-hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 100%;
  transition: box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s ease-in-out;
  box-shadow: 0px 0px 20px 5px var(--glow-shadow-color);
}

.glow-box-sm-hover:hover::after {
  opacity: 1;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
